button.payment {
  width: 100%;
  padding: 1.2rem 0;
  display: block;
  font-weight: 700;
  border-radius: 1rem;
  color: var(--white);
  background-color: var(--bright-blue);
  box-shadow: 0 0.8rem 5rem var(--desatured-blue);
}

button.payment:hover {
  background-color: var(--purple);
}

button.cancel {
  font-weight: 900;
  color: var(--desatured-blue);
}

button.cancel:hover {
  color: var(--dark-blue);
}