div.plan-display {
  padding: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  border-radius: 1rem;
  background-color: var(--very-pale-blue);

  a {
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.5s ease;
    color: var(--bright-blue);
  }

  a:hover {
    text-decoration: none;
    color: var(--purple);
  }

  div.image-and-plan {
    display: flex;
    gap: 1.6rem;
    align-items: center;

    img {
      max-width: 60px;
    }

    h2 {
      font-size: 1.6rem;
    }

    span {
      font-size: 1.4rem;
    }
  }
}

@media screen and (max-width: 370px) {
  div.plan-display,
  div.image-and-plan {
    flex-direction: column;
    gap: 1.6rem;
  }

}