div.plan-display {
  padding: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: start;
  border-radius: 1rem;
  background-color: var(--very-pale-blue);

  a {
    font-size: 1.2rem;
    font-weight: 700;
  }

  div.image-and-plan {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    
    img {
      max-width: 60px;
    }
    
    h2 {
      font-size: 1.6rem;
    }

    span {
      font-size: 1.4rem;
    }
  }


}